<!DOCTYPE html>
<html lang="en">
<head>
    <title>TO DO LIST</title>
    {% if request.user.is_authenticated %}
        <p>{{ request.user|upper }}</p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>
    <h1>{{ request.user.username|upper }} TO DO LIST</h1>
    <hr>
    {% if count == 1 %}
        <h3>YOU HAVE {{ count }} PENDING TASK</h3>
    {% else %}
    <h3>YOU HAVE {{ count }} PENDING TASKS</h3>
    {% endif %}
    <hr>
    <a href="{% url 'task-create' %}">Add Task</a>
    <hr>
</head>
<body>
    <form method="GET">
        <input type="text" name="search-area" value="{{ search_input }}">
        <input type="submit" value="Search">
    </form>

    <table>
        <caption></caption>
        <tr>
            <th id="">Item</th>
            <th id=""></th>
            <th id=""></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td><a href="{% url 'task' task.id %}">View</a></td>
            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <h3>No items found.</h3>
        {% endfor%}
    </table>
    <hr>
</body>
</html>

